.bg-img{
  background-image: url("https://images.unsplash.com/photo-1504122398460-c635d6377010?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fGJhY2tncm91bmQlMjBwaG90b3N8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
  background-repeat: no-repeat;
  background-size: cover;
}

body{
  font-family: 'Kaisei HarunoUmi', serif;
}

.pink-color{
  background-color: #ffc0cbaf;
}

.blue-color{
  background-color: #5eafe6ad;
}

.green-color{
  background-color: #79b87996;
}

.purple-color{
  background-color: rgba(199, 111, 199, 0.596);
}
.orange-color{
  background-color: rgba(241, 178, 82, 0.623);
}